PATHWAY_LICENSE_KEY=
TICKERS=["NVDA","MSFT","AAPL","GOOGL","AMZN","META","AVGO","TSLA"]

# Cluster and user details for acl
REDPANDA_BROKERS=
REDPANDA_SECURITY_PROTOCOL=SASL_SSL
REDPANDA_SASL_MECHANISM=SCRAM-SHA-256
REDPANDA_USERNAME=
REDPANDA_PASSWORD=

# Topic details
REDPANDA_BRONZE_STOCKS_TOPIC=bronze.stocks
REDPANDA_BRONZE_SOCIALS_TOPIC=bronze.socials
REDPANDA_BRONZE_NEWS_TOPIC=bronze.news
REDPANDA_BRONZE_FILINGS_TOPIC=bronze.filings

REDPANDA_SILVER_STOCKS_TOPIC=silver.stocks
REDPANDA_SILVER_SOCIALS_TOPIC=silver.socials
REDPANDA_SILVER_NEWS_TOPIC=silver.news
REDPANDA_SILVER_FILINGS_TOPIC=silver.filings

REDPANDA_SILVER_STOCKS_DLQ_TOPIC=silver.dlq.stocks
REDPANDA_SILVER_NEWS_DLQ_TOPIC=silver.dlq.news
REDPANDA_SILVER_SOCIALS_DLQ_TOPIC=silver.dlq.socials
REDPANDA_SILVER_FILINGS_DLQ_TOPIC=silver.dlq.filings

REDPANDA_GOLD_STOCKS_TOPIC=gold.stocks
REDPANDA_GOLD_SOCIALS_TOPIC=gold.socials.sentiment
REDPANDA_GOLD_NEWS_TOPIC=gold.news.sentiment
REDPANDA_GOLD_FILINGS_TOPIC=gold.filings



# News APIs - Finnhub News already included and rest are not used at the moment
GNEWS_API_KEY=
NEWSAPI_KEY=

# Stocks APIs - polygon is never used
FINNHUB_API_KEY=

# Socials APIs - reddit has no api key and tavily is never used

# LLM API Keys
PPLX_API_KEY = 
OPENAI_API_KEY = 
HUGGING_FACE_API_KEY=
GROQ_API_KEY=
DEFAULT_LLM_MODEL=sonar