PATHWAY_LICENSE_KEY=

TICKERS=["NVDA","MSFT","AAPL","GOOGL","AMZN","META","AVGO","TSLA"]

REDPANDA_BROKERS=
REDPANDA_SECURITY_PROTOCOL=SASL_SSL
REDPANDA_SASL_MECHANISM=SCRAM-SHA-256
REDPANDA_USERNAME=
REDPANDA_PASSWORD=

REDPANDA_BRONZE_STOCKS_TOPIC=bronze.stocks
REDPANDA_BRONZE_SOCIALS_TOPIC=bronze.socials
REDPANDA_BRONZE_NEWS_TOPIC=bronze.news
REDPANDA_BRONZE_FILINGS_TOPIC=bronze.filings

REDPANDA_SILVER_STOCKS_TOPIC=silver.stocks
REDPANDA_SILVER_SOCIALS_TOPIC=silver.socials
REDPANDA_SILVER_NEWS_TOPIC=silver.news
REDPANDA_SILVER_FILINGS_TOPIC=silver.filings

REDPANDA_SILVER_STOCKS_DLQ_TOPIC=silver.dlq.stocks
REDPANDA_SILVER_NEWS_DLQ_TOPIC=silver.dlq.news
REDPANDA_SILVER_SOCIALS_DLQ_TOPIC=silver.dlq.socials
REDPANDA_SILVER_FILINGS_DLQ_TOPIC=silver.dlq.filings

FINNHUB_API_KEY=
